.main {
  width: 100%;
}
.search {
  width: 10rem;
  height: 0.8rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
}
input {
  font-size: 0.7rem;
  width: 8rem;
  border: none;
  outline: none;
  padding: 0 0 0 0.4rem;
}

.main ul {
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1.5rem;
  margin-top: 2rem;
}
.main li {
  list-style: none;

}

.main .itens{
 
  height: 17rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  
}

.main img {
  width: 12rem;
  border: 2px solid black;
}


.main a{
  color: black;
}



.main .botoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .botoes .botaoIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0 0 0.4rem;
}

.main .botoes .botaoIcon:hover #edit {
  color: blue;
}
.main .botoes .botaoIcon:hover #delete {
  color: red;
}
.main  .botoes .icon {
  width: 1.1rem;
}

.main .info {
  display: flex;
  flex-direction: column;
  
 
}

.main .info h3 {
  font-weight: normal;
}

.main .info span{
  font-style: italic;
  color: gray;
}