.bloco-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.bloco-form h2 {
  margin-bottom: 1rem;
}
.bloco-form input {
  margin-bottom: 1rem;
  font-weight: normal;
  width: 80%;
  padding: 0.5rem 0.5rem 0;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}

.bloco-form button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.bloco-form button:hover {
  background-color: blue;
  color: white;
}
