ul {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 2rem;
}

li {
  list-style: none;
}

.item{
  margin-bottom: 1rem;
  height: 17rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  
}

.item img {
  width: 12rem;
  border: 2px solid black;
}


.item a{
  color: black;
}



.item .botoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.item .botoes .botaoIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0 0 0.4rem;
}

.item .botoes .botaoIcon:hover #edit {
  color: blue;
}
.item .botoes .botaoIcon:hover #delete {
  color: red;
}
.item  .botoes .icon {
  width: 1.1rem;
}

.info {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 2rem;
}

.info h3 {
  font-weight: normal;
}

.info span{
  font-style: italic;
  color: gray;
}